<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">


      <div class="page-header">          
        <h1>Listing all Tenacity Results <br>
          <small><%= pluralize(@tenacities.count, "Tenacity Result") %></small></h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">    
          <%= render 'layouts/sidebar_show' %>
        </div>
      </div>     

      <div class="col-md-9" id="rightCol"> 
        
            <%= render 'tabletenacities' %>
      </div>
    </div>
  </div>
</div>
     
      
