<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">


      <div class="page-header">          
        <h1>Insert New Data</h1>
      </div>

		  <div class="col-md-3" id="leftCol">
		  	<div class="well">  	
		  		<h3>Single</h3>  	
			    <%= render 'layouts/sidebar_insert' %>
				</div>
				<div class="well">  	
		  		<h3>Context</h3>  	
			    <%= render 'layouts/sidebar_insert_context' %>
				</div>
	    </div>		 

		  <div class="col-md-9" id="rightCol">		  		
				<div class="well">          
				  <div class="panel panel-info">
				    <div class="panel-body">	
				    	<p>Please choose one Entity to insert new data. Start always with REFERENCE.</p>
				    	<p>Generally there are two ways to insert data. </p>
				    	<ol>
				    		<li>Single: Insert all data in its basic table then make a join. </li>
				    		<li>Context: Insert data with the help of a guideline. Keep in mind that here are some ristrictions within the combinations.</li>
				    	</ol>
				    </div>
				  </div>
				</div>		
			</div>


		</div>		 
  </div>
</div>


 




