<div class="col-md-2" id="leftCol">
                
  <div class="well"> 
    <ul class="nav nav-sidebar">
      <li class="active"><%= link_to "Reference", new_reference_path %></a></li>
      <li class="active"><a href="#sec2">Matrix</a></li>
      <li class="active"><a href="#sec3">Agent</a></li>
      <li class="active"><a href="#sec4">Spiking</a></li>
      <li class="active"><a href="#sec4">Treatment</a></li>
      <li class="active"><a href="#sec4">Sample-preparation</a></li>
      <li class="active"><a href="#sec4">Detection</a></li>
      <li class="active"><a href="#sec4">Tenacity</a></li>
      <li class="active"><a href="#sec4">Result</a></li>
      <li class="active"><a href="#sec4">Contamination status</a></li>
    </ul>
  </div>

</div> 