<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Agent</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
      <li class="active"><%= link_to "Agent", home_agentinfo_path %></li>
    </ul>
  </div> 
</div> 

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Matrix</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
      <li class="active"><%= link_to "Matrix", home_matrixinfo_path %></li>      
    </ul>
  </div> 
</div> 

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Methods</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
      <li class="active"><%= link_to "Units", home_methodinfo_path %></li>
      <li class="active"><%= link_to "Treatment Conditions", home_treatinfo_path %></li>      
    </ul>
  </div> 
</div>




