<div class="col-md-2" id="leftCol">
                
  <div class="well"> 
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#sec2">General functions</a></li>
      <li class="active"><a href="#sec3">How to make insertions</a></li>
      <li class="active"><a href="#sec4">How to search</a></li>
      <li class="active"><a href="#sec4">What are Informations?</a></li>
      <li class="active"><a href="#sec4">How to join dicussions</a></li>
      <li class="active"><a href="#sec4">How to change your profile</a></li>
    </ul>
  </div>

</div> 

General funtions
How to make insertions
How to search
What are Informations?
How to join dicussions
How to change your profile