<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Suggestions</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
      <li class="active"><%= link_to "Matrix-Agent-Contaminationstatus", home_matrixagentcontaminationstatus_path %></li>

    </ul>
  </div> 
</div>